{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en" ng-app="shelf">
	<head>
		<meta charset="utf-8">
		<title>Shelf</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Shelf - a inventory manager for masters">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link type="text/css" rel="stylesheet"
		      href="{% static 'bower_components/materialize/dist/css/materialize.min.css' %}"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet"
		      href="{% static 'bower_components/angular-ui-select/dist/select.css' %}"/>
		<link type="text/css" rel="stylesheet"
		      href="{% static 'bower_components/select2/dist/css/select2.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/project.css' %}">

		<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
		<script src="{% static 'bower_components/velocity/velocity.js' %}"></script>
		<script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
		<script src="{% static 'bower_components/moment/min/moment-with-locales.min.js' %}"></script>
		<script src="{% static 'bower_components/angular/angular.js' %}"></script>

		<script type="text/javascript"
		        src="{% static 'bower_components/materialize/dist/js/materialize.min.js' %}"></script>
		<script src="{% static "js/libs/jquery-cookie.js" %}"></script>

		<script src="{% static 'bower_components/angular-utils-pagination/dirPagination.js' %}"></script>
		<script src="{% static 'bower_components/lodash/dist/lodash.underscore.min.js' %}"></script>
		<script src="{% static 'bower_components/restangular/dist/restangular.min.js' %}"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-sanitize.js"></script>
		<script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>

		<script src="{% static 'js/app.js' %}"></script>
		<script src="{% static 'js/routers.js' %}"></script>
		<script src="{% static 'js/controllers.js' %}"></script>
		<script src="{% static 'js/services.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
  	</head>

  	<body>
		<nav ng-controller="navbarController" class="brown">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Shelf</a>
			  	<ul id="nav-mobile" class="right side-nav">
					<li ng-show="loggedIn"><a href="/#/">Home</a></li>
					<li ng-show="loggedIn"><a href="/#/booking">Booking</a></li>
					<li ng-show="loggedIn"><a href="{% url "admin:index" %}">Admin</a></li>
					<li ng-show="loggedIn"><a href="" ng-click="logout()">Logout</a></li>
			  	</ul>
				<a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
			</div>
	  	</nav>
		<div class="container">
			<div ng-view></div>
		</div>
  	</body>
</html>
 
