<div id="createNewOrder" ng-controller="newOrderController">
	<div class="row">
		<div class="col s1 m1 s1">
			<a class="btn-floating waves-effect waves-light grey" href="/#/orders">
				<i class="mdi-navigation-arrow-back"></i>
			</a>
		</div>
		<div class="col s10 m10 l8">
			<div class="card brown brown">
				<div class="card-content white-text">

					<span class="card-title">New Order</span>
					<div class="row">
						<div class="col s4 right-align">
							Status:
						</div>
						<div class="col s8">
							<select ng-model="formModel.status" name="status" class="browser-default">
								<option style="display:none" value="">Select the current status</option>
								<option value="{{ status_choice.id }}" ng-repeat="status_choice in status">
									{{ status_choice.display_name }}
								</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col s4 right-align">
							Article:
						</div>
						<div class="col s7">
							<select ng-model="formModel.article" class="browser-default">
								<option style="display:none" value="">Select a article</option>
								<option value="{{ article_choice.id }}" ng-repeat="article_choice in article">
									{{ article_choice.display_name }}
								</option>
							</select>
						</div>
						<div class="col s1">
							<a class="waves-effect waves-light btn-floating grey white-text">
								<i class="mdi-content-add"></i>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col s4 right-align">
							Category:
						</div>
						<div class="col s8">
							<select ng-model="formModel.category" class="browser-default">
								<option style="display:none" value="">Select a category</option>
								<option value="{{ category_choice.id }}" ng-repeat="category_choice in category">{{ category_choice.display_name }}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col s4 right-align">
							Bought by:
						</div>
						<div class="col s8">
							<select ng-model="formModel.bought_by" class="browser-default">
								<option style="display:none" value="">Select an employee who has bought the order</option>
								<option value="{{ bought_by_choice.id }}" ng-repeat="bought_by_choice in bought_by">
									{{ bought_by_choice.display_name }}
								</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col s4 right-align">
							Bought on:
						</div>
						<div class="col s8">
							<input type="text" style="height: 2rem;">
						</div>
					</div>
					<div class="row">
						<div class="col s4 right-align">
							Purpose:
						</div>
						<div class="col s8">
							<input type="text" ng-model="formModel.purpose" style="height: 2rem;">
						</div>
					</div>
					<div class="row">
						<div class="col s4 right-align">
							Order-Number:
						</div>
						<div class="col s8">
							<input type="text" ng-model="formModel.order_number" style="height: 2rem;">
						</div>
					</div>
					<div class="row">
						<div class="col s4 right-align">
							Delivery received by:
						</div>
						<div class="col s8">
							<select ng-model="formModel.delivery_received_by" class="browser-default">
								<option value="">Select an employee who has received the delivery (optional)</option>
								<option value="{{ delivery_received_by_choice.id }}" ng-repeat="delivery_received_by_choice in delivery_received_by">
									{{ delivery_received_by_choice.display_name }}
								</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col s4 right-align">
							Delivery received on:
						</div>
						<div class="col s8">
							<input type="text" style="height: 2rem;">
						</div>
					</div>
					<div class="row">
						<div class="col s4 right-align">
							Supplier:
						</div>
						<div class="col s8">
							<select ng-model="formModel.supplier" class="browser-default">
								<option style="display:none" value="">Select a supplier</option>
								<option value="{{ supplier_choice.id }}" ng-repeat="supplier_choice in supplier">
									{{ supplier_choice.display_name }}
								</option>
							</select>
						</div>
					</div>
					<div class="row valign-wrapper">
						<div class="col s4 right-align valign">
							Payment method:
						</div>
						<div class="col s8">
							<select ng-model="formModel.payment_method" class="browser-default valign">
								<option style="display:none" value="">Select a payment method</option>
								<option value="{{ payment_method_choice.id }}" ng-repeat="payment_method_choice in payment_method">
									{{ payment_method_choice.display_name }}
								</option>
							</select>
						</div>
					</div>
				</div>
				<div class="card-action right-align">
					<a href="/#/orders" class="waves-effect waves-light btn red white-text">Cancel</a>
					<a href='' ng-click="save()" class="waves-effect waves-light btn green white-text">Save</a>
				</div>
			</div>
		</div>
	</div>
</div>