<table class="responsive-table bordered">
	<thead>
		<tr>
			<th><a href="" ng-click="predicate = 'id'; reverse=!reverse">ID</a></th>
			<th><a href="" ng-click="predicate = 'article.name'; reverse=!reverse">Artikel</a></th>
			<th><a href="" ng-click="predicate = 'bought_by.name'; reverse=!reverse">Gekauft von</a></th>
			<th><a href="" ng-click="predicate = 'bought_on'; reverse=!reverse">Gekauft an</a></th>
			<th><a href="" ng-click="predicate = 'category.name'; reverse=!reverse">Kategorie</a></th>
			<th><a href="" ng-click="predicate = 'created'; reverse=!reverse">Erstellt</a></th>
			<th><a href="" ng-click="predicate = 'order_number'; reverse=!reverse">Bestellnummer</a></th>
			<th><a href="" ng-click="predicate = 'purpose'; reverse=!reverse">Verwendungszweck</a></th>
			<th><a href="" ng-click="predicate = 'status'; reverse=!reverse">Status</a></th>
			<th>L&ouml;schen</th>
			<th>Detailsicht</th>
		</tr>
	</thead>
	<tbody>
		<tr dir-paginate="order in orders | filter: ordersFilter | orderBy:predicate:reverse | itemsPerPage: 20">
			<td>{{ order.id }}</td>
			<td>{{ order.article.name }}</td>
			<td>{{ order.bought_by.first_name }} {{ order.bought_by.last_name }}</td>
			<td>{{ order.bought_on | date : "d.MM.yyyy" }}</td>
			<td>{{ order.category.name }}</td>
			<td>{{ order.created | date : "d.MM.yyyy" }}</td>
			<td>{{ order.order_number }}</td>
			<td>{{ order.purpose }}</td>
			<td>{{ order.status }}</td>
			<td class="center-align">
				<a class="btn-floating btn-flat waves-effect waves-dark" ng-click="deleteOrder(order.id)">
					<i class="mdi-content-remove red-text"></i>
				</a>
			</td>
			<td class="center-align">
				<a class="btn-floating btn-flat waves-effect waves-dark" href="#/orders/{{ order.id }}">
					<i class="mdi-action-list black-text"></i>
				</a>
			</td>
		</tr>
	</tbody>
</table>
<dir-pagination-controls></dir-pagination-controls>