<div class="row" ng-controller="LoginController">
	<div class="col-md-4 col-md-offset-4 text-center">
		<h2>Log-In</h2>
		<form class="login">
			<div class="form-control-wrapper">
				<input type="text" ng-model="loginModel.username" placeholder="Username" class="form-control empty">
				<span class="material-input"></span>
			</div>
			<div class="form-control-wrapper">
				<input type="password" ng-model="loginModel.password" placeholder="Passwort" class="form-control empty"/>
				<span class="material-input"></span>
			</div>
			<button class="btn btn-primary" type="submit" ng-click="login()">Einloggen</button>
		</form>
		<div ng-show="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
	</div>
</div>
