<div class="ui modal" id="createSupplierModal" ng-controller="CreateSupplierController">
    <i class="close icon"></i>
    <div class="header">
        New Supplier
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui form">
                        <div class="field">
                            <div class="field">
                                <label>Name</label>
                                <div class="field">
                                    <input type="text" ng-model="newSupplier.name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui red message" ng-show="errors">
                        <p ng-repeat="(key, error_messages) in errors">{{ key }}:
                            <span ng-repeat="error_message in error_messages">{{ error_message }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button red">Cancel</div>
        <div class="ui button green ok" ng-click="save()">Save</div>
    </div>
</div>