<div class="ui modal" id="createPaymentMethodModal" ng-controller="CreatePaymentMethodController">
    <i class="close icon"></i>
    <div class="header">
        New Payment Method
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui form">
                        <div class="two fields">
                            <div class="field">
                                <label>Name</label>
                                <div class="field">
                                    <input type="text" ng-model="newPaymentMethod.name">
                                </div>
                            </div>
                            <div class="field">
                                <label>Description</label>
                                <div class="field">
                                    <input type="text" ng-model="newPaymentMethod.description">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button red">Cancel</div>
        <div class="ui button green ok" ng-click="save()">Save</div>
    </div>
</div>