<div ng-controller="DetailOrderController">
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="sixteen wide column">
                    <h2>Detail Order: #{{ order.id }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui form">
                        <div class="field">
                            <label>Created: {{ order.created | date : 'd.MM.yyyy H:mm' }}</label>
                            <label>Last Updated: {{ order.updated | date : 'd.MM.yyyy H:mm' }}</label>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Bought on</label>
                                <div class="field">
                                    <input class="datetimepicker" type="text" ng-model="order.bought_on">
                                </div>
                            </div>
                            <div class="field">
                                <label>Bought By</label>
                                <div class="field" data-content="{{ error_messages.bought_by[0] }}">
                                    <select ng-model="order.bought_by" class="ui dropdown">
                                        <option value="{{ bought_by.value }}"
                                                ng-repeat="bought_by in postActions.bought_by.choices"
                                                ng-selected="bought_by.value == order.bought_by.id">
                                            {{ bought_by.display_name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Purpose</label>
                                <input ng-model="order.purpose" type="text" placeholder="Purpose" value="{{ order.purpose }}">
                            </div>
                            <div class="field">
                                <label>Article</label>
                                <div class="fields">
                                    <div class="twelve wide field"
                                         data-content="{{ error_messages.article[0] }}">
                                        <select ng-model="order.article" class="ui dropdown search">
                                            <option value=""></option>
                                            <option value="{{ article.value }}"
                                                    ng-repeat="article in postActions.article.choices"
                                                    ng-selected="article.value == order.article.id">
                                                {{ article.display_name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="four wide field right-align">
                                        <div class="ui button" ng-click="createArticle()">
                                            <i class="plus icon"></i> Create
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Category</label>
                                <div class="fields">
                                    <div class="twelve wide field" data-content="{{ error_messages.category[0] }}">
                                        <select ng-model="order.category" class="ui dropdown">
                                            <option value=""></option>
                                            <option value="{{ category.value }}"
                                                    ng-repeat="category in postActions.category.choices"
                                                    ng-selected="category.value == order.category.id">
                                                {{ category.display_name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="four wide field right-align">
                                        <div class="ui button" ng-click="createCategory()">
                                            <i class="plus icon"></i> Create
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Supplier</label>
                                <div class="fields">
                                    <div class="twelve wide field" data-content="{{ error_messages.supplier[0] }}">
                                        <select ng-model="order.supplier" class="ui dropdown">
                                            <option value=""></option>
                                            <option value="{{ supplier.value }}"
                                                    ng-repeat="supplier in postActions.supplier.choices"
                                                    ng-selected="supplier.value == order.supplier.id">
                                                {{ supplier.display_name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="four wide field right-align">
                                        <div class="ui button" ng-click="createSupplier()">
                                            <i class="plus icon"></i> Create
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Order Number</label>
                                <div class="field" data-content="{{ error_messages.order_number[0] }}">
                                    <input ng-model="order.order_number" type="text" placeholder="Order Number">
                                </div>
                            </div>
                            <div class="field">
                                <label>Payment Method</label>
                                <div class="fields">
                                    <div class="twelve wide field" data-content="{{ error_messages.payment_method[0] }}">
                                        <select ng-model="order.payment_method" class="ui dropdown">
                                            <option value=""></option>
                                            <option value="{{ payment_method.value }}"
                                                    ng-repeat="payment_method in postActions.payment_method.choices"
                                                    ng-selected="payment_method.value == order.payment_method.id">
                                                {{ payment_method.display_name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="four wide field right-align" ng-click="createPaymentMethod()">
                                        <div class="ui button">
                                            <i class="plus icon"></i> Create
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Tags (seperated by comma)</label>
                            <div class="eight wide field">
                                <input ng-model="order.tags" ng-init="[]" ng-list=", " type="text" value="order.tags">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Delivery Received On</label>
                                <div class="field">
                                    <input class="datetimepicker" ng-model="order.delivery_received_on" type="text"
                                           placeholder="optional" value="{{ order.delivery_received_on }}">
                                </div>
                            </div>
                            <div class="field">
                                <label>Delivery Received By</label>
                                <select ng-model="order.delivery_received_by" class="ui search dropdown">
                                    <option value=""></option>
                                    <option value="{{ delivery_received_by.value }}"
                                            ng-repeat="delivery_received_by in postActions.delivery_received_by.choices"
                                            ng-selected="delivery_received_by.value == order.delivery_received_by.id">
                                        {{ delivery_received_by.display_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="field">
                                <label>Invoice PDF</label>
                                <div class="ui middle aligned relaxed fitted stackable grid">
                                    <div class="three wide column">
                                        <div class="ui button" ng-file-select ng-model="order.new_invoice_documents"
                                             ng-multiple="true">
                                            Upload PDFs
                                        </div>
                                    </div>
                                    <div class="thirteen wide column">
                                        <span ng-show="order.new_invoice_documents.length > 0">
                                            Files:
                                            <div class="ui label" ng-repeat="invoice_document in order.new_invoice_documents">
                                                {{ invoice_document.name }}
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui divider"></div>
                        <div class="field" ng-show="!!order.invoice_documents.length">
                            <div class="field">
                                <label>Uploaded Files:</label>
                                <table class="ui table">
                                    <thead>
                                        <tr>
                                            <th>File</th>
                                            <th>Uploaded on</th>
                                            <th>Uploaded by</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="invoice_document in order.invoice_documents">
                                            <td>
                                                <a href="{{ invoice_document.invoice_file }}">
                                                    {{invoice_document.invoice_file_filename}}
                                                </a>
                                            </td>
                                            <td>
                                                {{ invoice_document.created | date : 'd.MM.yyyy' }}
                                            </td>
                                            <td>
                                                Niemanden
                                            </td>
                                            <td>
                                                <a>
                                                    <i class="icon remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column right aligned">
                    <div class="ui red button" ng-click="back()">Cancel</div>
                    <div class="ui green button" ng-click="saveOrder()">Save</div>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'templates/uploadProgressBarModal.html'"></ng-include>
</div>
<ng-include src="'order-templates/createArticleModal.html'"></ng-include>
<ng-include src="'order-templates/createCategoryModal.html'"></ng-include>
<ng-include src="'order-templates/createSupplierModal.html'"></ng-include>
<ng-include src="'order-templates/createPaymentMethodModal.html'"></ng-include>
