<div ng-controller="OrderListController">
    <div class="ui segment">
        <div class="ui grid">
            <div class="six column row">
                <div class="column">
                    <a href="orders/create" class="ui button">Create Order <i class="plus icon"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="six column row">

                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
                <div class="column">
                    <div class="ui form">
                        <div class="ui icon input">
                            <input type="text" placeholder="Search orders..." ng-model="orderSearch" ng-init="">
                            <i class="search icon" id="search-delete-icon" style="cursor: pointer"
                               ng-click="orderSearch = ''"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="sixteen wide column" style="min-height: 300px;">
                    <table class="ui table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Bought on</th>
                            <th>Bought by</th>
                            <th>Category</th>
                            <th>Supplier</th>
                            <th>Tags</th>
                            <th>Purpose</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="order in orders | itemsPerPage: 25">
                            <td>{{ order.id }}</td>
                            <td>{{ order.bought_on | date : 'dd.MM.yyyy' }}</td>
                            <td>{{ order.bought_by.first_name }} {{ order.bought_by.last_name }}</td>
                            <td>{{ order.category.name }}</td>
                            <td>{{ order.supplier.name }}</td>
                            <td>
                                <a ng-repeat="tag in order.tags" class="ui horizontal label small">{{ tag }}</a>
                            </td>
                            <td>
                                {{ order.purpose }}
                            </td>
                            <td class="center aligned">
                                <a href="/orders/detail/{{ order.id }}">
                                    <i class="icon write"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="ui dimmer" id="list-loader">
                        <div class="ui indeterminate text loader">{{ loaderText }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="sixteen wide column center aligned">
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>