<div class="ui modal" id="uploadProgressBarModal">
    <i class="close icon"></i>
    <div class="header">
        Upload Status
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui progress" id="upload-progress">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>